body{
    margin: 0;
}
img{
    width: 100%;
    height: auto;
}
.nav__name a{
    font-size: 40px;
   text-decoration: none;
    color: var(--white);
}
.nav__container__menu li a{
    color:var(--white);
}
.welcome{
    padding:200px 80px 100px 80px ;
    position: relative;
}
.section--red{
    background-color: var(--red);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 2em;
    color: var(--white-shade);
}
.section--white{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.welcome p{
    font-weight: 500;
    margin-bottom: 2em;
}
.button{
    text-decoration: none;
    padding: 10px 10px;
    background-color: var(--red);
    text-align: left;
    border: 2px solid var(--red);
    font-size: 1em;
    color: var(--white);
}
